.container {
  flex: 0 0 480px;
  min-height: 100vh;
  max-height: 100vh;
  border-right: 1px solid black;
  flex-direction: column;
  display: flex;
}

.header {
  padding: 8px;
  border-bottom: 1px solid black;
}

.title {
  display: flex;
  justify-content: space-between;
}

.title h2 {
  margin: 0px;
}

.title button, .entryItem button, .selectedEntry button {
  background-color: #FF4136;
  color: #FFFFFF;
  border-radius: 4px;
  padding: 8px;
  border: 1px solid transparent;
  cursor: pointer;
}

.entryItem button, .selectedEntry button {
  margin-top: 4px;
}

.entryItem, .selectedEntry {
  padding: 8px;
  border: 1px solid black;
  cursor: pointer;
  background-color: #D3D3D3;
}

.selectedEntry {
  background-color: #0074D9;
}

.entryItem:hover {
  background-color: #FFFFFF;
}

.entryItem h4, .selectedEntry h4 {
  margin: 0px;
}

.entryItem p, .selectedEntry p {
  margin: 4px 0px 0px;
}

.entries {
  flex: 1;
  overflow-y: scroll;
}

.pagination {
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid black;
}

.pagination button {
  border: 1px solid #D3D3D3;
  border-radius: 4px;
  padding: 4px 8px;
  width: 100px;
  cursor: pointer;
}

.search {
  margin-top: 8px;
}

.search input {
  margin-left: 4px;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  font-size: inherit;
  font-family: inherit;
  outline: none;
  padding: 8px;
}